.approach {
    background-color: #F7F8F8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 64px;
    padding-bottom: 80px;
}
.approach-title {
    color: #003331;
    font-family: 'PublicSans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    padding-top: 113px;
}
.aproach-sub-title {
    color: rgba(53, 83, 98, 0.8);
    width: 450px;
    font-family: 'PublicSans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding-top: 13px;
    padding-bottom: 37px;
}
.aproach-button {
    color: #00413E;
    background: none;
    border-radius: 80px;
    padding: 17px 33px 17px 33px;
    border: 1px solid rgba(53, 83, 98, 0.2);
    font-family: 'PublicSans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}
.approach-img-block {
    padding-top: 80px;
    padding-right: 64px;
}
#approach_img_first {
    width: 235px;
    border-radius: 3px;
}
#approach_img_second {
    width: 317px;
    border-radius: 3px;
    margin-left: 8px;
}