.press {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 87px;
    padding-left: 64px;
    padding-right: 64px;
}
.press-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.press-block h5 {
    font-family: 'LibreBaskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1.2px;
    color: #003331;
}
.press-block button {
    font-family: 'PublicSans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid rgba(53, 83, 98, 0.2);
    border-radius: 80px;
    background: none;
    padding: 17px 33px 17px 33px;
    text-align: center;
    letter-spacing: 0.02px;
    color: #00413E;
}
.press-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 26px;
    margin-top: 24px;
    width: 100%;
    justify-content: space-between;

}
.press-item {
    display: flex;
    flex-direction: column;
    width: 363px;
    border-top: 1px solid rgba(53, 83, 98, 0.3);
    margin-right: 31px;
    padding-top: 20px;
}
.press-item p {
    width: 332px;
    margin-top: 11px;
    font-family: 'PublicSans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #00413E;
}
.press-item-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.press-item-block span {
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'PublicSans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgba(53, 83, 98, 0.6);
}